*{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}




body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.clearfix::after{
    content:" "; 
    display:block; 
    clear:both;
}

.bgimg {
    border: 0;
    padding: 0;
    height: 100%;
    background-image: url("./img/1p/backG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bgimg2 {
    border: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("./img/1p/backG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#home_b{
    position: absolute; 
    top: 50px; 
    left: 50px;
}

#img_1_20p{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 120px; 
    width: 108px; 
    height: 108px;  
}

#img_2_20p{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 20px;
}

#img_3_20p{
    display: block; 
    margin: auto; 
    margin-top: 85px;
}

#text_1_2p{
    display: block; 
    margin: auto; 
    margin-top: 151px; 
}

#text_2_2p{
    display: none; 
    margin: auto; 
    margin-top: 151px; 
}

#text_1_3p{
    display: block; 
    margin: auto; 
    margin-top: 151px;
}

#text_2_3p{
    display: none; 
    margin: auto; 
    margin-top: 151px; 
}

#text_1_4p{
    display: block; 
    margin: auto; 
    margin-top: 65px;
}

.text_1_4p_2{
    display: block; 
    margin: auto; 
    margin-top: 38px;
}

#text_2_4p{
    display: none; 
    margin: auto; 
    margin-top: 65px;
}

#text_1_26p{
    display: block; 
    margin: auto; 
    margin-top: 120px;
}

#text_2_26p{
    display: none; 
    margin: auto; 
    margin-top: 120px;
}



.container {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center center;*/
    width: 86%;
    height: 833px;
    background-color:rgba(255,255,253,0.9);
    border: 2px solid rgba(185,177,145,0.3);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    margin-top: -416.5px;
    left: 50%;
    margin-left: -43%;
}

.container_1 {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center center;*/
    width: 86%;
    height: 833px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    margin-top: -416.5px;
    left: 50%;
    margin-left: -43%;
}

.container img{
    max-width: 100%; 
    height: auto;
}

img{
    max-width: 100%; 
    height: auto;
}


.container_con_1p{
    width: 100%; 
    margin: auto; 
    position: relative; 
    top:198px;
}

.container_con_2p{
    width: 100%; 
    height: 81%; 
    margin: auto; 
    background-color:; 
    position: relative; 
    top:62px; 
}

.container_con_4p{
    width: 100%; 
    height: 81%; 
    margin: auto; 
    background-color:; 
    position: relative; 
    top:62px; 
}


.logo_1p{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-bottom: 50px;
}


.logo_2{
    display: block; 
    margin: auto;
    align-items: center;
}

.title{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 39px;
}

.line{
    display: block; 
    margin: auto; 
    margin-top: 38px;
}

.ing{
    display: block; 
    margin: auto; 
    margin-top: 25px;
}


#input_wrap{
    background-image: url(./img/5p/age.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 440px;
    height: 170px;
    position: relative;
    margin: auto;
    margin-top: 144px;
}

#next_5p{
    display: block; 
    margin: auto; 
    position: absolute;
    left: 50%; 
    margin-left: -155px;
}

.choice_container_con{
    width: 100%;
    height: 81%;
    margin: auto;
    background-color:;
    position: relative; 
    top:73px;
}

.ques{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 62px;
}

.box {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 42px;
    background-color: ;
}

.box_img_cap{
    /* background-color::rosybrown; */
    width: 813px;
    position: relative;
    left: 50%;
    margin-left: -403.5px;
}

.box_img_cap2{
    /* background-color:rosybrown; */
    width: 71.4%;
    position: relative;
    left: 13.9%; 
    /* margin-left: -583.5px; */
}

.box_img_cap2 img{
    width: 33%;
}

.box_img_cap2 img:nth-child(2){
    float: left;
    
}

.box_img_cap2 img:nth-child(3){
    float: left;
}


    

.box :nth-child(1){
    margin-right: 29px;
}

.box :nth-child(2){
    margin: 0 auto;
}


#d1{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 42px;
}

#d2{
    display: none; 
    margin: auto; 
    align-items: center; 
    margin-top: 42px;
}

.close {
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 3.6%;
    z-index: 999;
}

.close2 {
    display: inline-block;
    position: absolute;
    top: 185px;
    right: 10%;
    z-index: 999;
}

.close22 {
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 3.6%;
    z-index: 999;
}

.num {
    position: fixed;
    bottom: 9.2%;
    right: 10.4%;
    max-width: 100%; 
    height: auto;
}

.check {
    display: block;
    margin: auto;
    position: absolute;
/*    bottom: 95px;*/
    left: 50%;
    margin-left: -160px;
}

#line_1{
    display: block; 
    position: relative; 
    left: 50%; 
    margin-left: -372px; 
}

#line_2{
    display: block; 
    position: relative; 
    left: 50%; 
    top:-8%; 
    margin-left: -475px;
}

#line_1 div{
    align: right; 
    margin-top: 0%; 
    float:left;
}

#line_1 p{
    font-size:1.5em; 
    color:#507D66; 
}

#line_2 div{
    align: right;  
    float:left; 
    margin-top: 0px;
}

#line_2 p{
    font-size:2.5em; 
    font-weight: 500;
}


#finalbox1_back{
    display: block; 
    width: 77%; 
    height: 490px; 
    margin: auto; 
    position: relative; 
    top: -64px; 
    align-items: center; 
    background-image: url(./img/22p/oiltest22pBox.png);
    background-repeat: no-repeat;
    background-size: 100% 442px
}

#finalbox1{
    display: block; 
    width: 77%; 
    height: 286px; 
    margin: auto; 
    align-items: center; 
    position: relative; 
    top:14.7%;
}

#finalbox2{
    position: relative;
    top: 50%;
    margin-top:-143px;
    width: 26%; 
    height: 286px; 
    float:left; 
    margin-right: 11%; 
    position: relative;
}

#demo{
    font-size :2.8em; 
    font-weight: 500; 
    color: #3B5345;
}

#finalbox3_1{
    display: block; 
    margin: auto; 
    padding: 7% 0; 
    align-items: center; 
    width: 225px; 
    height: 125px;
}

#finalbox3_1_div1{
    width: 45%; 
    align-items: center; 
    margin-top: 7%; 
    float:left;
}

#finalbox3_2{
    display: block; 
    margin: auto; 
    padding-top: 14%; 
    align-items: center; 
    width: 237px; 
    height: 125px;
}

#finalbox3_2_div1{
    align-items: center; 
    margin-top: 0%; 
    float:left; 
    width: 50%;
}

#finalbox3_2_div2{
    align-items: center;  
    margin-top: 15%; 
    margin-left: 5%; 
    float:left;
}

#finalbox3_3{
    display: block; 
    margin: auto; 
    padding: 7.2% 0; 
    align-items: center; 
    width: 175px; 
    height: 125px;
}

#ageBox{
    display: block; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    margin-left: -89px;
}

#type2{
    display: block;  
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    margin-left: -89px;
}

#feel_div{
    align-items: center; 
    margin-top: 7.6%; 
    text-align: center; 
    width: 100%;
}

#feel1{
    display: block; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    margin-left: -89px; 
}

#button_wrap{
    width: 754px; 
    height: 82px; 
    position: absolute; 
    left: 50%; 
    margin-left: -377px; 
    bottom: 8%;
}

.bg{
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

#b_age {
    border: 1px solid white;
    outline-style: none;
    width: 206px;
    height: 134px;
    font-size: 140px;
    color: #507D66;
    text-align: center;
    position: fixed;
    left: 42%;
    bottom: 39%;
    
}

.goback{
    position: absolute; 
    top: 45px; 
    left: 3.6%;  
}

.goback22{
    position: absolute; 
    top: 45px; 
    left: 3.6%;  
}

.video_body{
    overflow-y: hidden;
}

.video_body video{
    position: relative; 
    bottom:60px;
}

.video_b{
    display: block;
    z-index: 999; 
    position: absolute; 
    top:50%;
    margin-top: -26.5px;
    margin-left: 86%;
}

.t{
   position: absolute; 
   top: 130px; 
   right: 10%; 
   z-index: 999; 
}

.tt{
   position: absolute; 
   top: 130px; 
   left: 10%; 
   z-index: 999; 
}


.yn:hover {
    opacity: 0.5;
}

/* .yn:onclick{
    transition-delay: 10s;
} */

/*
.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
*/


@media (max-width:600px){

  /* ------------------1p--------------------- */
    #home_b{
        left: 8%;
        top:5%
    }

    .container_con_1p {
        width: 83%;
        top:27%;
    }

    .logo_1p{
        width: 26%;
        margin-bottom: 37px;
    }

    .container_1{
        width: 88.7%;
        height: 100%;
        top: 0;
        margin-top: 0;
        left: 50%;
        margin-left: -45%;
    }
    .container{
        width: 88.7%;
        height: 100%;
        top: 0;
        margin-top: 0;
        left: 50%;
        margin-left: -45%;
    }

    #start_1p{
        width: 80%;
    }
    
    .close {
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 3.6%;
    z-index: 999;
    }
    
    .goback{
    position: absolute; 
    top: 5%; 
    left: 3.6%;  
    }

    /* ------------------2p--------------------- */
    .container_con_2p{
        width: 83%; 
        height: auto;  
        top:17%; 
    }

    .container_con_3p{
        width: 83%; 
        height: auto;  
        top:17%; 
    }

    .logo_2{
        
        width: 20%;
    }

    .ing{
        display: block; 
        margin: auto; 
        margin-top: 25px;
        width: 13%;
    }

    
.title{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 10%;
   }

    #text_1_2p{
        display: none; 
        margin: auto; 
        margin-top: 151px; 
       }

    #text_2_2p{
        display: block; 
        margin: auto; 
        margin-top: 107px; 
       }
    
    #text_1_3p{
        display: none; 
        margin: auto; 
        margin-top: 151px;
       }

    #text_2_3p{
        display: block; 
        margin: auto; 
        margin-top: 107px; 
       }
    
    #text_1_4p{
    display: none; 
    margin: auto; 
    margin-top: 65px;
}

    .text_1_4p_2{
        display: none; 
        margin: auto; 
        margin-top: 38px;
    }

    #text_2_4p{
        display: block; 
        margin: auto; 
        margin-top: 65px;
    }
    
    #text_1_26p{
        display: none; 
        margin: auto; 
        margin-top: 120px;
    }

    #text_2_26p{
        display: block; 
        margin: auto; 
        margin-top: 90px;
    }

/* ------------------4p--------------------- */

.check {
    width: 56%;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -28%;
}

.line{
    width: 5%;
    display: block; 
    margin: auto; 
    margin-top: 23px;
}
    
/* ------------------5p--------------------- */

.choice_container_con{
    width: 76%;
    height: 81%;
    margin: auto;
    background-color:;
    position: relative; 
    top:20%;
}


#input_wrap{
    background-image: url(./img/5p/age.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 170px;
    position: relative;
    margin: auto;
    margin-top: 115px;
}

#b_age {
    border: 1px solid white;
    outline-style: none;
    width: 55%;
    height: 55%;
    font-size: 80px;
    color: #507D66;
    text-align: center;
    position: absolute;
    left: 10%;
    bottom: 77%;
    
}

#next_5p{
    width: 72%;
    display: block; 
    margin: auto; 
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -36%;
}

/* ------------------7p--------------------- */

.box_img_cap{
    /* background-color::rosybrown; */
    width: 60%;
    position: relative;
    left: 50%;
    margin-left: -29%;
}

.yn{
    width: 95%;
    margin: auto;
}

.box :nth-child(1){
    margin-right: 0;
    /* float: left; */
}

.box :nth-child(2){
    /* float: left; */
}

.box {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 11%;
    background-color: ;
}

.ques{
    width: 90%;
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 15%;
}

.num {
    position: absolute;
    width: 14%;
    bottom: 3%;
    right: 11.4%;
    max-width: 100%; 
    height: auto;
}

/* ------------------18p--------------------- */

.box_img_cap2{
    /* background-color:rosybrown; */
    width: 100%;
    position: relative;
    left: 9.5%; 
    
}

.box_img_cap2 img{
    width: 86%;
    left: 50%;
    
}

.box_img_cap2 img:nth-child(1){
    float: left;
    
}

.box_img_cap2 img:nth-child(2){
    float: left;
    
}

.box_img_cap2 img:nth-child(3){
    float: left;
}


#d1{
    position: absolute;
    margin-top: 7%;
    width: 50%;
}

#d2{
    display: block;
    position: absolute;
    margin-top: 7%;
    left: 47%;
    width: 50%;
}

#container_feel{
    position: relative;
}

#click1{
    display: none;
}

#click2{
    display: none;
}

#feel_ques{
    width: 110%;
    margin-top: 10%;
} 

/* ------------------20p--------------------- */

#img_1_20p{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 29%; 
    width: 30%; 
    height: 30%;  
}

#img_2_20p{
    display: block; 
    margin: auto; 
    align-items: center; 
    margin-top: 10%;
}

#img_3_20p{
    display: block; 
    margin: auto; 
    margin-top: 10%;
}

/* ------------------22p--------------------- */

.close22 {
    display: inline-block;
    position: absolute;
    top: 3%;
    right: 3.5%;
    z-index: 999;
}
    
.goback22{
    position: absolute; 
    top:3%; 
    left: 3.6%;  
}
    
#body_22p{
    background-color:rgba(255,255,253,0.9);
}

#back_22p{
    background-image: url();

}

#container_22{
    height: auto;
    background-color:rgba(255,255,253,0);
    border: 2px solid rgba(185,177,145,0);
}

.container_con_3p{
    width: 95%; 
    height: auto;  
    top:17%; 
}

#line_1{
    display: block; 
    position: relative; 
    left: 10%; 
    margin-left:0; 
    margin-top: 10%;
    width: 70%;
    
}

#line_1 div{
    display: block;
}

#line_2{
    display: block; 
    position: relative; 
    left: 10%; 
    margin-top: 3%;
    top:-8%; 
    margin-left: 0px;
    width: 88%;
    
}

#line_2 div{
    display: inline;
}

#line_1 div{
    /* align: right;  */
    margin-top: 0%; 
    float:left;
}

#line_1 p{
    font-size:1em; 
    color:#507D66; 
    margin: 0;
}

#line_2 div{
    /* align: right;   */
    float:left; 
    margin-top: 0px;
}

#line_2 p{
    font-size:1.3em; 
    font-weight: 500;
    margin: 0;
}


#finalbox1_back{
    display: block; 
    width: 75%; 
    height: auto; 
    margin: auto; 
    margin-top: 0%;
    position: relative; 
    top: 0px; 
    align-items: center; 
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

#finalbox1{
    display: block; 
    width: 69%; 
    height: auto; 
    margin: auto; 
    align-items: center; 
    position: relative;
    top:0;
}

#finalbox2{
    position: relative;
    top: 0;
    left: -13.3%;
    width: 100%; 
    height: 220px; 
    float:left;
    margin-left: 0; 
    margin-right: 0;
    background-color:white;
    border:1.8px solid rgba(185,177,145,0.3);
    border-radius: 15px;
    padding: 20px; 
    /* background-color: turquoise; */
    margin-top: 25%;
}

#demo{
    font-size :2em; 
    font-weight: 500; 
    color: #3B5345;
    
}

#finalbox3_1{
    display: block; 
    margin: auto; 
    padding: 7% 0; 
    align-items: center; 
    width: 100%; 
    /* background-color: tan;*/ 
    height: auto;
}


#finalbox3_2{
    display: block; 
    margin: auto; 
    padding-top: 14%; 
    align-items: center; 
    width: 100%; 
    /* background-color: tan; */
    height: auto;
}

#finalbox3_2_div1{
    align-items: center; 
    margin-top: 0%; 
    float:left; 
    width: 45%;
}

#finalbox3_2_div2{
    align-items: center;  
    margin-top: 8%; 
    margin-left: 5%; 
    float:left;
    width: 50%;
}


#finalbox3_3{
    display: block; 
    margin: auto; 
    padding: 7.2% 0; 
    align-items: center; 
    width: 100%; 
    /* background-color: tan; */
    height: auto;
}

#finalbox3_3 img{
    width: 75%;
}

#ageBox{
    display: block; 
    position: absolute; 
    bottom: 8%; 
    left: 50%; 
    margin-left: -89px;
}

#type2{
    display: block;  
    position: absolute; 
    bottom: 8%; 
    left: 50%; 
    margin-left: -87.5px;
}

#feel1{
    display: block; 
    position: absolute; 
    bottom: 8%; 
    left: 50%; 
    margin-left: -87.5px; 
}




#button_wrap{
    width: 80%; 
    height: 82px; 
    position: absolute; 
    left: 50%; 
    margin-left: -40%; 
    top: 110%;
}

/* ------------------23p--------------------- */

.bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 
.video_b{
    width: 10%;
    display: block;
    z-index: 999; 
    position: absolute; 
    top:38.5%;
    margin-top: 0px;
    margin-left: 86%;
}
    

.t{
   position: absolute; 
   top:5%; 
   right: 10%; 
   z-index: 999; 
}

.tt{
   position: absolute; 
   top: 5%; 
   left: 10%; 
   z-index: 999; 
}    
    
    
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  }

/*the animation definition*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/*
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
*/



#click1 {
    width: 5%;
    position: absolute;
    top: 42%;
    left: 100%;
}

#click2 {
    width: 5%;
    position: absolute;
    top: 42%;
    left: -6.2%;


p {
    margin: 0;
}

#finalbox1 {
    width: 1188px;
    height: 377px;
    position: absolute;
    top: 246px;
    left: 360px;
}

/*
#finalbox2 {
    border: 1px solid blue;
}

#finalbox3 {
    border: 1px solid yellow;
}
*/

#oil-next-button {
    position: absolute;
    top: 750px;
    left: 1006px;
}

#oil-restart-button {
    position: absolute;
    top: 750px;
    left: 586px;
}

#oiltest22pBox{
    position: absolute;
    top: 270px;
    left: 320px;
}

